:root {
  --black: #181818;
  --dark-gray: #6b6b6b;
  --off-white: #f5f5f5;
  --blue: #16a6b6;
  --orange: #ee6557;
}

body{
  font-family: freight-sans-pro-lights;
  color: var(--dark-gray);
  line-height: 1.4em;
}

a{
  color: var(--dark-gray);
}
