/*
font-family: freight-sans-pro, sans-serif;
font-weight: 400;
font-style: normal;

FreightSans Pro Book Italic

font-family: freight-sans-pro, sans-serif;
font-weight: 400;
font-style: italic;

FreightSans Pro Bold

font-family: freight-sans-pro, sans-serif;
font-weight: 700;
font-style: normal;

FreightSans Pro Bold Italic

font-family: freight-sans-pro, sans-serif;
font-weight: 700;
font-style: italic;

FreightSansHPro XLight

font-family: freight-sans-pro-lights, sans-serif;
font-weight: 300;
font-style: normal;

FreightSansHPro XLight Ita

font-family: freight-sans-pro-lights, sans-serif;
font-weight: 300;
font-style: italic;

FreightSansCmpPro Bold

font-family: freight-sans-compressed-pro, sans-serif;
font-weight: 700;
font-style: normal;*/

/*
Forma DJR Micro Bold Italic

font-family: forma-djr-micro, sans-serif;
font-weight: 700;
font-style: italic;

Forma DJR Micro Bold

font-family: forma-djr-micro, sans-serif;
font-weight: 700;
font-style: normal;*/

:root {
  --black: #181818;
  --dark-gray: #6b6b6b;
  --off-white: #f5f5f5;
  --blue: #16a6b6;
  --orange: #ee6557;
}

html{
  margin: 20px;
}

body{
  font-family: freight-sans-pro-lights;
  color: var(--dark-gray);
  line-height: 1.4em;
  background-color: var(--off-white);
  /*text-align: center;*/
}

/*<--------------------------------Headings-------------------->*/

h1 {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 700;
  color: var(--black);
  letter-spacing:-.6px;
  word-spacing: 4px;
}

.work-featured__h1 {
  font-size: 36px;
  line-height: 42px;
}

@media screen and (max-width: 1050px) {.work-featured__h1 {
  font-size: 60px;
  line-height:70px;
}
}

h2{
  font-size: 24px;
  word-spacing:1px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  color: var(--black);
  margin-top: 1em;
}

.main__h2{
  text-transform: none;
  letter-spacing: 0;
  margin-top: 1.5em;
  line-height: 32px;
  color: var(--dark-gray);
  max-width: 700px;
  text-align: center;
}

h3 {
  font-size: 20px;
  word-spacing:1px;
  line-height:22px;
  padding-top: 1em;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--black);
}

h4{
  font-size: 14px;
  font-weight: 400;
  letter-spacing:.15em;
  text-transform: uppercase;
}

.main__h1{
font-size: 84px;
line-height:90px;
text-align:center;

}

.footer-about__card--title {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 300;
  margin-top: 5px;
  line-height: 22px
}

/*<----------------------------General Text-----------*/
p{
  margin-top: 1em;
  text-align: center;
}

blockquote {
  font-size: 28px;
  line-height: 36px;
  word-spacing: 1px;
  text-align: center;
  max-width: 960px;
  quotes: none;
}

.data-list__paragraph{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  line-height: 1.2em;
}

.work-featured-paragraph{
  max-width: 291px;
}

.footer-about__card--text{
  color: #888888;
  margin: 10px;
  line-height: 1.5em;
}
/*<----------------------------Images------------------*/

img {
  display: block;
}

.component__img {
  border: 1px solid gray;
}


/*<---------------------------Links------------------>*/
a {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-color:inherit;
  text-decoration: none;
  border-color: var(--blue);
  color: var(--black);
  cursor: pointer;

}

a:hover{
  color: var(--blue);
}


/*<-------------------------Button/Forms--------------->*/

form {
  position: relative;
  display: block;
}

.input-container {
  position: relative;
  margin-top: 1em;
}

input {
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  background-color: #fff;
  border: none;
  color: var(--dark-gray);
}

.input-container button{
  position: absolute;
  top: 0;
  right:0;
  height: 100%;
  padding: 0 6px 0 7px;
  background: 0 0;
  color: var(--dark-gray);
  border-width: 0;
}

.input-container button:hover{
  color: var(--blue);
  cursor: pointer;
}

.button {
  border-radius: 5px;
  background-color: #BEBEBE;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  word-spacing: 1px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #33cccc;
  color: white;
  cursor: pointer;
}

.footer-about__card--button {
  text-decoration: none;
}

.footer-about__card--button:hover{
  color: var(--dark-grey);
}

/*.newsletter button {
  position: absolute;
  vertical-align: middle;
  padding: 0 6px 0 7px;
  background: 0 0;
  color: var(--dark-gray);
  font-size: 17px;
  /*border: none;
}*/

/*-----------------------------------Icons/Logos---------------------*/

.icon {
  font-size: 100px;
  color: var(--orange);
  text-decoration: none;
  /*border-bottom: 0;*/
}  /*---------------------Problem is HERE? not sure how to get rid of the blue line, but it comes from the border-bottom-style still being active on the <i> ---------------------------------- */

* > .hover-show,
*:hover > .hover-hidden {
  display: none;
}
*:hover > .hover-show {
  display: inline-block;
}

.fa-shopify {
  font-size: 32px;
}

.fa-mailchimp{
  font-size: 35px;
}
/*----Wondering if substituting for these icons is okay?----*/

/*---------------------------------Footer Subsection-------------------*/

.footer-subsection{
  text-align: center;
}
.footer-subsection p{
  max-width:
}

.footer-logos a {
  border-bottom-style: none;
  color: var(--dark-gray);
  font-size: 30px;
  cursor: pointer;
  padding: 20px;
}

.footer-logos a:hover {
  color: var(--black);
}

/*------------------------------------misc----------------------*/

.component__code {
  border: 1px solid gray;
  display: inline-block;
}

.work-featured-uxlink{
  text-decoration: none;
  color: var(--orange);
}

.display_inline_block{
  display: inline-block;
}

.footer-about__card{
  display:inline-block;
  padding: 20px;
}

.footer-about li {
  max-width: 260px;
  background: #F5F5F5;
  text-align: center;
  padding-bottom: 50px;
}
