<!<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Components</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>

  <body>
    <h1>Web Components</h1>

    <h2> typography defaults</h2>

    <article class="component">
    <h3>paragraph</h3>
    <img
    srcset=" parapgrah ___link 2x"
    src=""
    alt="body copy"/>
    <div>
    </div>
    </article>

    <article class="component">
    <h3>blockquote</h3>
    <img/>
    <div>
    </div>
    </article>







    <h2> Header</h2>
    <h2> Home Main</h2>
    <h2> Work Featured Main</h2>
    <h2> Footer</h2>
  </body>

</html>
