<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Components</title>
    <link rel="stylesheet" href="https://use.typekit.net/fmq1eow.css">
    <link rel="stylesheet" href="https://use.typekit.net/jjq7kmd.css">
    <script src="https://kit.fontawesome.com/bd2a0685ce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
  </head>

  <body>
    <h1>Web Components</h1>

    <h2> typography defaults</h2>

    <article class="component">
    <h3>paragraph</h3>
    <img
    srcset="img/main/data-list__paragraph.png 2x"
    src="img/main/data-list__paragraph.png"
    alt="body copy"
    class="component__img"/>
    <div  class="component__code">
      <p class="data-list__paragraph">
        current <br>
        project <br>
        capacity
      </p>
    </div>

    <img
    srcset="img/footer/footer-about__card--paragraph.png 2x"
    src="img/footer/footer-about__card--paragraph.png"
    alt="body copy"
    class="component__img"/>
    <div class="component__code">
      <p>
        Interested in working with us? Launch our proposal planner to get started.
      </p>
    </div>

    <img
    srcset="img/work-featured__item-page/work-featured__paragraph.png 2x"
    src="img/work-featured__item-page/work-featured__paragraph.png"
    alt="body copy"
    class="component__img"/>
    <div class="work-featured-paragraph component__code">
      <p>
        Mint have pioneered memory care for patients suffering with issues like Alzheimers or dementia. Their techniques quickly became utilised across their province in Canada.
      </p>
      <p>
        We reworked their brand and introduced a sense of warmth and humanity with colourful illustrations and icons.
      </p>
      <p>
        The site is built using Craft CMS which allows them to keep content fresh and the project has been very helpful in promoting their approach which has now spread to the whole of Canada.
      </p>

        <p><a href="#!" class="work-featured-uxlink">UX</a><br>
        User Interface Design<br>
        Frontend Development<br>
        Backend Development
      </p>
    </div>

    <article class="component">
    <h3>blockquote</h3>
    <img
    srcset="img/main/slideshow__blockquote.png 2x"
    src="img/main/slideshow__blockquote.png"
    alt="blockquote copy"
    class="component__img"/>
    <div class="component__code">
      <blockquote>
        &ldquo; We're thrilled with the work Buffalo has done creating a website we are truly proud of. We love Jason's innovative design, and have benefitted hugely from Dan's strategiic and techinical knowledge and advice. In Mozzarella, Buffalo ahs created a superb and highly intuitive CMS system, meaning the back end works as well as the front looks.&rdquo;
      </blockquote>
    </div>
    </article>

    <article class="component">
      <h3>h1</h3>
      <div class="component__img">
        <img
        srcset="img/main/main__h1.png 2x"
        src="img/main/main__h1.png"
        alt="h1"
        />
        <img
        srcset="img/work-featured__item-page/work-featured__h1.png 2x"
        src="img/work-featured__item-page/work-featured__h1.png"
        alt="h1"/>
      </div>
      <div class="component__code">
        <h1 class="main__h1"> A higher plain</h1>
        <h1 class="work-featured__h1">Mint Memory Clinic</h1>
      </div>
    </article>

    <article class="component">
      <h3>h2</h3>
      <div class="component__img">
      <img
      srcset="img/main/data-list__h2.png 2x"
      src="img/main/data-list__h2.png"
      alt="h2"
      />
      <img
      srcset="img/main/main__h2.png 2x"
      src="img/main/main__h2.png"
      alt="h2"
      />
      <img
      srcset="img/main/slideshow__h2.png 2x"
      src="img/main/slideshow__h2.png"
      alt="h2"
      />
      </div>
      <div class="component__code">
        <h2>A Few Stats</h2>
        <h2 class="main__h2">We build brands and beautiful websites for clients who need a little help to create something truly special. We do it with love in Brighton for clients all around the world and we can do it for you too...</h2>
        <h2>Happy Clients</h2>
      </div>
    </article>

    <article class="component">
      <h3>h3</h3>
      <div class="component__img">
      <img
      srcset="img/footer/footer-about__card--h3.png 2x"
      src="img/footer/footer-about__card--h3.png"
      alt="h3 text"
      />
      <img
      srcset="img/footer/footer-about__card--h3.1.png 2x"
      src="img/footer/footer-about__card--h3.1.png"
      alt="h3 text"
      />
      <img
      srcset="img/footer/footer-about__card--h3.2.png 2x"
      src="img/footer/footer-about__card--h3.2.png"
      alt="h3 text"
      />
      </div>
      <div class="component__code">
        <h3>connect</h3>
        <h3>project planner</h3>
        <h3> newsletter</h3>
      </div>
    </article>

    <article class="component">
      <h3>h4</h3>
      <img
      srcset="img/footer/footer-subsection__h4.png 2x"
      src="img/footer/footer-subsection__h4.png"
      alt="h4"
      class="component__img"/>
      <div class="component__code">
        <h4> we are proud to be recommended by these fine folks:</h4>
      </div>
    </article>
  </article>

    <article class="component">
    <h2>Atoms</h2>
    <h3> Work Featured Item</h3>
    <img
    srcset="img/main/work-featured__item.png 2x"
    src="img/main/work-featured__item.png"
    alt="work-featured item"
    class="component__img"/>
    <div class="component__code">
      <img
      srcset="img/main/work-featured__item.png 2x"
      src="img/main/work-featured__item.png"
      alt="work-featured item"/>
    </div>
  </article>

    <article class="component">
    <h3> Data infograph</h3>
    <img
    srcset="img/main/data-infograph.png 2x"
    src="img/main/data-infograph.png"
    alt="Data infograph"/>
    <div class="component__code">
      <p>Don't know yet</p>
    </div>
  </article>

    <article class="component">
    <h3>Button</h3>
      <img
      srcset="img/footer/footer-about__card--button.png 2x"
      src="img/footer/footer-about__card--button.png"
      alt="button"
      class="component__img"/>
      <div class="component__code">
        <a href="#!" class="button display_inline_block">Launch It</a>
      </div>
    </article>

    <article class="component">
    <h3>Form Submit </h3>
      <img
      srcset="img/footer/footer-about__card--form-submit.png 2x"
      src="img/footer/footer-about__card--form-submit.png"
      alt="Submit Form"
      class="component__img"/>
      <div class="component__code">
          <input type="text" name="email" placeholder="Your email address" />
      </div>
    </article>

    <article class="component">
    <h3>Footer Icon</h3>
      <div class="component__img">
        <img
        srcset="img/footer/footer-about__card--icon.png 2x"
        src="img/footer/footer-about__card--icon.png"
        alt="Footer Icon"
        />
        <img
        srcset="img/footer/footer-about__card--icon2.png 2x"
        src="img/footer/footer-about__card--icon2.png"
        alt="Footer Icon"
        />
        <img
        srcset="img/footer/footer-about__card--icon3.png 2x"
        src="img/footer/footer-about__card--icon3.png"
        alt="Footer Icon"
        />
      </div>
      <div class="component__code">
       <p>Don't know yet</p>
      </div>
    </article>

    <article class="component">
    <h2> Header</h2>
      <img
      srcset="img/header/header.png 2x"
      src="img/header/header.png"
      alt="Nav Item"
      class="component__img"/>
      <div class="component__code">
        <p>Don't know yet</p>
      </div>
    </article>

    <h2> Home Main</h2>

    <article class="component">
      <h3>Work Featured Grid</h3>
      <img
      srcset="img/main/work-featured-grid.png 2x"
      src="img/main/work-featured-grid.png"
      alt="work featured grid"
      class="component__img"/>
      <div class="component__code">
        <p>Don't know yet</p>
      </div>
    </article>


    <h2> Footer</h2>
    <article class="component">
      <img
      srcset="img/footer/footer-about.png 2x"
      src="img/footer/footer-about.png"
      alt="Footer About Section"
      class="component__img"/>
      <div class="footer component__code">
          <div class="footer-about">
          <div class="footer-about__card">
              <a href="#!" class="footer-about__card--button"> <i class="far fa-user-circle icon"></i>
              <i class="fas fa-user-circle iconhover icon"></i>
              <h3 class="footer-about__card--title">Project Planner</h3>
              <p class="footer-about__card--text"> Interested in working with us? Launch our proposal planner to get started.</p>
              <p href="#!" class="button display_inline_block">Launch It</p></a>
          </div>
          <div class="footer-about__card">
              <i class="fas fa-scroll icon"></i>
              <h3 class="footer-about__card--title">Connect</h3>
              <p class="footer-about__card--text"> +44 (0)1273 434 060</p>
              <p><a href="#!">hello@builtbybuffalo.com</a></p>
              <p><a href="#!">Follow us on Twitter</a></p>
          </div>
          <div class="footer-about__card">
              <i class="fas fa-scroll icon"></i>
              <h3 class="footer-about__card--title">Newsletter</h3>
              <p class="footer-about__card--text"> Enter your email address below to receive occasional updates.</p>
              <input type="text" name="email" placeholder="Your email address" />
          </div>
          </div>
          <div class="footer-subsection">
            <img
            srcset="img/footer/footer-subsection.png 2x"
            src="img/footer/footer-subsection.png"
            alt="footer reccomendations and copyright"/>
            <div>
            </div>
          </div>
        </div>
    </article>
  </body>

</html>
