<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Components</title>
    <link rel="stylesheet" href="https://use.typekit.net/fmq1eow.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
  </head>

  <body>
    <h1>Web Components</h1>

    <h2> typography defaults</h2>

    <article class="component">
    <h3>paragraph</h3>
    <img
    srcset="img/main/data-list__paragraph.png 2x"
    src="img/main/data-list__paragraph.png"
    alt="body copy"/>
    <div>
      <p>
        current project capacity
      </p>
    </div>

    <img
    srcset="img/footer/footer-about__card--paragraph.png 2x"
    src="img/footer/footer-about__card--paragraph.png"
    alt="body copy"/>
    <div>
      <p>
        Interested in working with us? Launch our proposal planner to get started.
      </p>
    </div>

    <img
    srcset="img/work-featured__item-page/work-featured__paragraph.png 2x"
    src="img/work-featured__item-page/work-featured__paragraph.png"
    alt="body copy"/>
    <div>
      <p>
        Mint have pioneered memory care for patients suffering with issues like Alzheimers or dementia. Their techniques quickly became utilised across their province in Canada.

        We reworked their brand and introduced a sense of warmth and humanity with colourful illustrations and icons.

        The site is built using Craft CMS which allows them to keep content fresh and the project has been very helpful in promoting their approach which has now spread to the whole of Canada.

        <a href="#!">UX</a>
        User Interface Design
        Frontend Development
        Backend Development
      </p>
    </div>


    </article>

    <article class="component">
    <h3>blockquote</h3>
    <img
    srcset="img/main/slideshow__blockquote.png 2x"
    src="img/main/slideshow__blockquote.png"
    alt="blockquote copy"/>
    <div>
      <blockquote>
        We're thrilled with the work Buffalo has done creating a website we are truly proud of. We love Jason's innovative design, and have benefitted hugely from Dan's strategiic and techinical knowledge and advice. In Mozzarella, Buffalo ahs created a superb and highly intuitive CMS system, meaning the back end works as well as the front looks.
      </blockquote>
    </div>
    </article>


    <h2> Header</h2>
    <h2> Home Main</h2>
    <h2> Work Featured Main</h2>
    <h2> Footer</h2>
  </body>

</html>
